In [3]:
!pip install torch transformers bitsandbytes accelerate sqlparse openai

import torch
from transformers import AutoTokenizer, AutoModelForCausalLM
import re

model_name = "defog/sqlcoder-7b-2"
tokenizer = AutoTokenizer.from_pretrained(model_name)
model = AutoModelForCausalLM.from_pretrained(
    model_name,
    trust_remote_code=True,
    torch_dtype=torch.float16,
    device_map="auto",
    use_cache=True,
)

Requirement already satisfied: torch in /opt/conda/lib/python3.10/site-packages (2.1.2)
Requirement already satisfied: transformers in /opt/conda/lib/python3.10/site-packages (4.37.0)
Collecting bitsandbytes
  Downloading bitsandbytes-0.42.0-py3-none-any.whl.metadata (9.9 kB)
Requirement already satisfied: accelerate in /opt/conda/lib/python3.10/site-packages (0.26.1)
Requirement already satisfied: sqlparse in /opt/conda/lib/python3.10/site-packages (0.4.4)
Requirement already satisfied: openai in /opt/conda/lib/python3.10/site-packages (1.11.1)
Requirement already satisfied: filelock in /opt/conda/lib/python3.10/site-packages (from torch) (3.13.1)
Requirement already satisfied: typing-extensions in /opt/conda/lib/python3.10/site-packages (from torch) (4.9.0)
Requirement already satisfied: sympy in /opt/conda/lib/python3.10/site-packages (from torch) (1.12)
Requirement already satisfied: networkx in /opt/conda/lib/python3.10/site-packages (from torch) (3.2.1)
Requirement already satisfied: jinja2 in /opt/conda/lib/python3.10/site-packages (from torch) (3.1.2)
Requirement already satisfied: fsspec in /opt/conda/lib/python3.10/site-packages (from torch) (2023.12.2)
Requirement already satisfied: huggingface-hub<1.0,>=0.19.3 in /opt/conda/lib/python3.10/site-packages (from transformers) (0.20.3)
Requirement already satisfied: numpy>=1.17 in /opt/conda/lib/python3.10/site-packages (from transformers) (1.24.4)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.10/site-packages (from transformers) (21.3)
Requirement already satisfied: pyyaml>=5.1 in /opt/conda/lib/python3.10/site-packages (from transformers) (6.0.1)
Requirement already satisfied: regex!=2019.12.17 in /opt/conda/lib/python3.10/site-packages (from transformers) (2023.12.25)
Requirement already satisfied: requests in /opt/conda/lib/python3.10/site-packages (from transformers) (2.31.0)
Requirement already satisfied: tokenizers<0.19,>=0.14 in /opt/conda/lib/python3.10/site-packages (from transformers) (0.15.1)
Requirement already satisfied: safetensors>=0.3.1 in /opt/conda/lib/python3.10/site-packages (from transformers) (0.4.2)
Requirement already satisfied: tqdm>=4.27 in /opt/conda/lib/python3.10/site-packages (from transformers) (4.66.1)
Requirement already satisfied: scipy in /opt/conda/lib/python3.10/site-packages (from bitsandbytes) (1.11.4)
Requirement already satisfied: psutil in /opt/conda/lib/python3.10/site-packages (from accelerate) (5.9.3)
Requirement already satisfied: anyio<5,>=3.5.0 in /opt/conda/lib/python3.10/site-packages (from openai) (4.2.0)
Requirement already satisfied: distro<2,>=1.7.0 in /opt/conda/lib/python3.10/site-packages (from openai) (1.9.0)
Requirement already satisfied: httpx<1,>=0.23.0 in /opt/conda/lib/python3.10/site-packages (from openai) (0.26.0)
Requirement already satisfied: pydantic<3,>=1.9.0 in /opt/conda/lib/python3.10/site-packages (from openai) (2.5.3)
Requirement already satisfied: sniffio in /opt/conda/lib/python3.10/site-packages (from openai) (1.3.0)
Requirement already satisfied: idna>=2.8 in /opt/conda/lib/python3.10/site-packages (from anyio<5,>=3.5.0->openai) (3.6)
Requirement already satisfied: exceptiongroup>=1.0.2 in /opt/conda/lib/python3.10/site-packages (from anyio<5,>=3.5.0->openai) (1.2.0)
Requirement already satisfied: certifi in /opt/conda/lib/python3.10/site-packages (from httpx<1,>=0.23.0->openai) (2023.11.17)
Requirement already satisfied: httpcore==1.* in /opt/conda/lib/python3.10/site-packages (from httpx<1,>=0.23.0->openai) (1.0.2)
Requirement already satisfied: h11<0.15,>=0.13 in /opt/conda/lib/python3.10/site-packages (from httpcore==1.*->httpx<1,>=0.23.0->openai) (0.14.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /opt/conda/lib/python3.10/site-packages (from packaging>=20.0->transformers) (3.1.1)
Requirement already satisfied: annotated-types>=0.4.0 in /opt/conda/lib/python3.10/site-packages (from pydantic<3,>=1.9.0->openai) (0.6.0)
Requirement already satisfied: pydantic-core==2.14.6 in /opt/conda/lib/python3.10/site-packages (from pydantic<3,>=1.9.0->openai) (2.14.6)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/conda/lib/python3.10/site-packages (from jinja2->torch) (2.1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/conda/lib/python3.10/site-packages (from requests->transformers) (3.3.2)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/conda/lib/python3.10/site-packages (from requests->transformers) (1.26.18)
Requirement already satisfied: mpmath>=0.19 in /opt/conda/lib/python3.10/site-packages (from sympy->torch) (1.3.0)
Downloading bitsandbytes-0.42.0-py3-none-any.whl (105.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 105.0/105.0 MB 15.3 MB/s eta 0:00:0000:0100:01
Installing collected packages: bitsandbytes
Successfully installed bitsandbytes-0.42.0

tokenizer_config.json:   0%|          | 0.00/1.84k [00:00<?, ?B/s]

tokenizer.model:   0%|          | 0.00/500k [00:00<?, ?B/s]

tokenizer.json:   0%|          | 0.00/1.84M [00:00<?, ?B/s]

special_tokens_map.json:   0%|          | 0.00/515 [00:00<?, ?B/s]

config.json:   0%|          | 0.00/691 [00:00<?, ?B/s]

model.safetensors.index.json:   0%|          | 0.00/23.9k [00:00<?, ?B/s]

Downloading shards:   0%|          | 0/3 [00:00<?, ?it/s]

model-00001-of-00003.safetensors:   0%|          | 0.00/4.94G [00:00<?, ?B/s]

model-00002-of-00003.safetensors:   0%|          | 0.00/4.95G [00:00<?, ?B/s]

model-00003-of-00003.safetensors:   0%|          | 0.00/3.59G [00:00<?, ?B/s]

Loading checkpoint shards:   0%|          | 0/3 [00:00<?, ?it/s]

generation_config.json:   0%|          | 0.00/111 [00:00<?, ?B/s]

# Load Dataset

In [4]:
import pandas as pd
translation_path = "/kaggle/input/spider-translation-1/questions-translation.csv"
df = pd.read_csv(translation_path)
df.head()

,question,translation
0,How many heads of the departments are older th...,كم رئيسًا للأقسام هم أكبر من 56 سنة؟
1,"List the name, born state and age of the heads...",قائمة بأسماء رؤساء الأقسام، مكان ميلادهم، وأعم...
2,"List the creation year, name and budget of eac...",قائمة بسنوات الإنشاء، وأسماء وميزانيات كل قسم.
3,What are the maximum and minimum budget of the...,ما هي أقصى وأدنى ميزانية للأقسام؟
4,What is the average number of employees of the...,ما هو المتوسط ​​لعدد الموظفين في الأقسام الذين...

In [5]:
import re
def process(record):
    if not isinstance(record['translation'], str):
        return record
    
    record['translation'] = re.sub(re.compile(r'\[Translation]\s*'), '', record['translation'])
    record['translation'] = re.sub(re.compile(r'\[Question]\s*'), '', record['translation'])
    return record
df_processed = df.apply(process, axis=1)
df_processed.head()

,question,translation
0,How many heads of the departments are older th...,كم رئيسًا للأقسام هم أكبر من 56 سنة؟
1,"List the name, born state and age of the heads...",قائمة بأسماء رؤساء الأقسام، مكان ميلادهم، وأعم...
2,"List the creation year, name and budget of eac...",قائمة بسنوات الإنشاء، وأسماء وميزانيات كل قسم.
3,What are the maximum and minimum budget of the...,ما هي أقصى وأدنى ميزانية للأقسام؟
4,What is the average number of employees of the...,ما هو المتوسط ​​لعدد الموظفين في الأقسام الذين...

In [6]:
import json
spider_db_path = "/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database"
spider_train_path = "/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/train_spider.json"

with open(spider_train_path, "r") as f:
    data = json.load(f)
    
data[0]

{'db_id': 'department_management',
 'query': 'SELECT count(*) FROM head WHERE age  >  56',
 'query_toks': ['SELECT',
  'count',
  '(',
  '*',
  ')',
  'FROM',
  'head',
  'WHERE',
  'age',
  '>',
  '56'],
 'query_toks_no_value': ['select',
  'count',
  '(',
  '*',
  ')',
  'from',
  'head',
  'where',
  'age',
  '>',
  'value'],
 'question': 'How many heads of the departments are older than 56 ?',
 'question_toks': ['How',
  'many',
  'heads',
  'of',
  'the',
  'departments',
  'are',
  'older',
  'than',
  '56',
  '?'],
 'sql': {'except': None,
  'from': {'conds': [], 'table_units': [['table_unit', 1]]},
  'groupBy': [],
  'having': [],
  'intersect': None,
  'limit': None,
  'orderBy': [],
  'select': [False, [[3, [0, [0, 0, False], None]]]],
  'union': None,
  'where': [[False, 3, [0, [0, 10, False], None], 56.0, None]]}}

In [7]:
import os
import sqlite3

def get_conn(db_id: str):
    db_file = f"{db_id}.sqlite"
    db_path = os.path.join(spider_db_path, db_id, db_file)
    conn = sqlite3.connect(db_path)
    return conn

def get_db_schema(conn) -> str:
    res = conn.execute("SELECT * FROM sqlite_master").fetchall()
    schema = ""
    for d in res:
        if d[-1] is None:
            continue
            
        schema += f"{d[-1]}\n\n"
    return schema

def inference(question: str, schema: str) -> str:
    prompt = """### Examples
Some example questions and corresponding SQL queries are provided based on similar problems:
Answer the following : ماهى العنواين الالكترونية للمستخدمين؟
SELECT email FROM users;
    
### Instructions:
Your task is convert a question into a SQL query, given a sqlite database schema.
Adhere to these rules:
- **Deliberately go through the question and database schema word by word** to appropriately answer the question
- **Use Table Aliases** to prevent ambiguity. For example, `SELECT table1.col1, table2.col1 FROM table1 JOIN table2 ON table1.id = table2.id`.
- When creating a ratio, always cast the numerator as float
- **Use only one column per sql query**
    
### Input:
Generate a SQL query that answers the question `{question}`.
This query will run on a database whose schema is represented in this string:
{schema}
### Response:
Based on your instructions, here is the SQL query I have generated to answer the question `{question}`:
```sql
""".format(question=question, schema=schema)
    eos_token_id = tokenizer.eos_token_id
    inputs = tokenizer(prompt, return_tensors="pt").to("cuda")
    generated_ids = model.generate(
        **inputs,
        num_return_sequences=1,
        eos_token_id=eos_token_id,
        pad_token_id=eos_token_id,
        max_new_tokens=400,
        do_sample=False,
    )
    outputs = tokenizer.batch_decode(generated_ids, skip_special_tokens=True)
    torch.cuda.empty_cache()
    torch.cuda.synchronize()

    def postgres_to_sqlite(query: str) -> str:
        substitutions = [
            (r'ilike', 'LIKE'),
            (r'serial\s*$', 'INTEGER PRIMARY KEY AUTOINCREMENT'),
            (r'start\s+with\s+(\d+)', 'CHECK (id >= \\1)'),
        ]

        for pattern, replacement in substitutions:
            query = re.sub(pattern, replacement, query, flags=re.IGNORECASE)

        return query

    postgres_query = outputs[0].split("```sql")[-1].rstrip("```")
    query = postgres_to_sqlite(postgres_query)
    return query

# Evaluation

In [8]:
def compare_sql(gold: str, gen: str, conn, is_ordered=False):
    try:
        gold_res = pd.read_sql(gold, conn)
    except Exception as _:
        print("[Ground Fail]", gold)
        return 1

    try:
        gen_res = pd.read_sql(gen, conn)
    except Exception as _:
        print("[Gen Fail]", gen)
        return 0

    accuracy = 0
    if (len(gold_res)) == 0:
        return 1 if len(gen_res) == 0 else 0
    
    gold_len = len(gold_res)
    gen_len = len(gen_res)
    for i in range(min(gold_len, gen_len)):
        gold_record = gold_res.values[i]
        
        if not is_ordered:
            try:
                is_match = gold_record in gen_res.values
            except:
                is_match = False
        else:
            is_match = gold_record == gen_res.values[i]
            if (type(is_match) != bool):
                is_match = is_match.all()
                
        if is_match:
            accuracy += 1

    return accuracy / len(gold_res)

In [17]:
from openai import OpenAI
api_key = "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"
client = OpenAI(api_key=api_key)

def translate(client: OpenAI, text: str) -> str:
    """Translate text from English to Arabic."""
    completion = client.chat.completions.create(
        model="gpt-3.5-turbo",
        messages=[
            {
                "role": "user",
                "content": "Imagine you are a translator from Arabic to "
                + "English on the following text. Give me the translation and "
                + f"the translation only.\n> Question: {text}\n> Answer: ",
            },
        ],
    )

    return completion.choices[0].message.content

In [19]:
import sqlparse
NUM_EVAL = 100
total_accuracy = 0
for i, h in enumerate(data):
    if i >= NUM_EVAL:
        break
        
    db_id = h['db_id']
    conn = get_conn(db_id)
    schema = get_db_schema(conn)
    arabic_question = df.iloc[i]['translation']
    english_translation = translate(client, arabic_question)
    gen = inference(english_translation, schema)
    gold = h['query']
    sub_accuracy = compare_sql(gold, gen, conn)
    total_accuracy += sub_accuracy
    format_gold = sqlparse.format(gold, reident=True)
    format_gen = sqlparse.format(gen, reident=True)
    print(f"[{i}] Accuracy: {sub_accuracy * 100}%\n> Question: {english_translation}\n> Ground:\n{format_gold}\n\n> Gen:{format_gen}\n")
    
total_accuracy /= NUM_EVAL
print(f"Execution accuracy: {total_accuracy * 100}%")

2024-02-08 01:27:03.253275: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:9261] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2024-02-08 01:27:03.253366: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:607] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2024-02-08 01:27:03.406718: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1515] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered

[0] Accuracy: 100.0%
> Question: How many department heads are older than 56 years old?
> Ground:
SELECT count(*) FROM head WHERE age  >  56

> Gen:
 SELECT COUNT(*) FROM head h WHERE h.age > 56;

[1] Accuracy: 40.0%
> Question: List of department heads' names, place of birth, and ages arranged by age.
> Ground:
SELECT name ,  born_state ,  age FROM head ORDER BY age

> Gen:
 SELECT h.name, h.born_state, CAST(h.age AS FLOAT) AS age FROM head h JOIN management m ON h.head_ID = m.head_ID ORDER BY age NULLS LAST;

[2] Accuracy: 100.0%
> Question: List of years of establishment, names, and budgets of each department.
> Ground:
SELECT creation ,  name ,  budget_in_billions FROM department

> Gen:
 SELECT d.creation, d.name, d.budget_in_billions FROM department d;

[3] Accuracy: 100.0%
> Question: What is the maximum and minimum budget for departments?
> Ground:
SELECT max(budget_in_billions) ,  min(budget_in_billions) FROM department

> Gen:
 SELECT MAX(d.Budget_in_Billions) AS max_budget, MIN(d.Budget_in_Billions) AS min_budget FROM department d;

[4] Accuracy: 100.0%
> Question: What is the average number of employees in the departments who are ranked between 10 and 15?
> Ground:
SELECT avg(num_employees) FROM department WHERE ranking BETWEEN 10 AND 15

> Gen:
 SELECT AVG(d.num_employees) FROM department d WHERE d.ranking BETWEEN 10 AND 15;

[5] Accuracy: 33.33333333333333%
> Question: What are the names of the department heads who were born outside of California?
> Ground:
SELECT name FROM head WHERE born_state != 'California'

> Gen:
 SELECT h.name FROM head h JOIN management m ON h.head_ID = m.head_ID WHERE h.born_state != 'California';

[Gen Fail]
 SELECT EXTRACT(YEAR FROM CURRENT_DATE) - CAST(d.creation AS int) AS years_established FROM department d JOIN management m ON d.department_id = m.department_id JOIN head h ON m.head_id = h.head_id WHERE h.name = 'Amin Wuld' AND h.born_state = 'Alabama';
[6] Accuracy: 0%
> Question: What are the outstanding years of establishment for the departments managed by Amin Wuld in the state of 'Alabama'?
> Ground:
SELECT DISTINCT T1.creation FROM department AS T1 JOIN management AS T2 ON T1.department_id  =  T2.department_id JOIN head AS T3 ON T2.head_id  =  T3.head_id WHERE T3.born_state  =  'Alabama'

> Gen:
 SELECT EXTRACT(YEAR FROM CURRENT_DATE) - CAST(d.creation AS int) AS years_established FROM department d JOIN management m ON d.department_id = m.department_id JOIN head h ON m.head_id = h.head_id WHERE h.name = 'Amin Wuld' AND h.born_state = 'Alabama';

[7] Accuracy: 100.0%
> Question: What are the names of the states where at least 3 presidents were born?
> Ground:
SELECT born_state FROM head GROUP BY born_state HAVING count(*)  >=  3

> Gen:
 SELECT h.born_state FROM head h GROUP BY h.born_state HAVING COUNT(h.head_ID) >= 3;

[Gen Fail]
 SELECT EXTRACT(YEAR FROM to_date(d.creation, 'YYYY')) AS creation_year, COUNT(*) AS num_departments FROM department d GROUP BY creation_year ORDER BY num_departments DESC LIMIT 1;
[8] Accuracy: 0%
> Question: In which year were most of the departments established?
> Ground:
SELECT creation FROM department GROUP BY creation ORDER BY count(*) DESC LIMIT 1

> Gen:
 SELECT EXTRACT(YEAR FROM to_date(d.creation, 'YYYY')) AS creation_year, COUNT(*) AS num_departments FROM department d GROUP BY creation_year ORDER BY num_departments DESC LIMIT 1;

[9] Accuracy: 0.0%
> Question: Display the name and number of employees for the departments managed by IT managers whose employment status is 'Yes'.
> Ground:
SELECT T1.name ,  T1.num_employees FROM department AS T1 JOIN management AS T2 ON T1.department_id  =  T2.department_id WHERE T2.temporary_acting  =  'Yes'

> Gen:
 SELECT d.name, CAST(d.num_employees AS FLOAT) AS num_employees FROM department d JOIN management m ON d.department_id = m.department_id JOIN head h ON m.head_id = h.head_id WHERE h.born_state = 'IT' AND CAST(d.num_employees AS FLOAT) > 10;

[10] Accuracy: 0.0%
> Question: How many cases of figurative behavior?
> Ground:
SELECT count(DISTINCT temporary_acting) FROM management

> Gen:
 SELECT COUNT(DISTINCT m.department_ID) AS num_departments FROM management m;

[11] Accuracy: 0.0%
> Question: How many departments do unnamed presidents manage?
> Ground:
SELECT count(*) FROM department WHERE department_id NOT IN (SELECT department_id FROM management);

> Gen:
 SELECT COUNT(DISTINCT m.department_ID) FROM management m JOIN head h ON m.head_ID = h.head_ID WHERE h.name IS NULL;

[12] Accuracy: 100.0%
> Question: What are the distinct ages for department heads who perform a representative role?
> Ground:
SELECT DISTINCT T1.age FROM management AS T2 JOIN head AS T1 ON T1.head_id  =  T2.head_id WHERE T2.temporary_acting  =  'Yes'

> Gen:
 SELECT DISTINCT h.age FROM head h JOIN management m ON h.head_ID = m.head_ID;

[13] Accuracy: 0.0%
> Question: Display a list of the states in which the Treasury Secretary and the Homeland Security Secretary were born.
> Ground:
SELECT T3.born_state FROM department AS T1 JOIN management AS T2 ON T1.department_id  =  T2.department_id JOIN head AS T3 ON T2.head_id  =  T3.head_id WHERE T1.name  =  'Treasury' INTERSECT SELECT T3.born_state FROM department AS T1 JOIN management AS T2 ON T1.department_id  =  T2.department_id JOIN head AS T3 ON T2.head_id  =  T3.head_id WHERE T1.name  =  'Homeland Security'

> Gen:
 SELECT h.born_state FROM head h JOIN management m ON h.head_ID = m.head_ID JOIN department d ON m.department_ID = d.Department_ID WHERE d.Name IN ('Treasury Secretary', 'Homeland Security Secretary') GROUP BY h.born_state;

[14] Accuracy: 100.0%
> Question: Which department has more than one president at the same time? Display a list with the ID number, name, and number of presidents.
> Ground:
SELECT T1.department_id ,  T1.name ,  count(*) FROM management AS T2 JOIN department AS T1 ON T1.department_id  =  T2.department_id GROUP BY T1.department_id HAVING count(*)  >  1

> Gen:
 SELECT d.Department_ID, d.Name, COUNT(m.head_ID) AS num_presidents FROM management m JOIN department d ON m.department_ID = d.Department_ID GROUP BY d.Department_ID, d.Name HAVING COUNT(m.head_ID) > 1 ORDER BY num_presidents DESC NULLS LAST;

[15] Accuracy: 100.0%
> Question: Which president's name contains the variable 'Ha'? Display a list with the ID number and name.
> Ground:
SELECT head_id ,  name FROM head WHERE name LIKE '%Ha%'

> Gen:
 SELECT h.head_ID, h.name FROM head h WHERE h.name LIKE '%Ha%';

[16] Accuracy: 100.0%
> Question: How many farms are there?
> Ground:
SELECT count(*) FROM farm

> Gen:
 SELECT COUNT(f.farm_id) FROM farm f;

[17] Accuracy: 100.0%
> Question: Count the farmers.
> Ground:
SELECT count(*) FROM farm

> Gen:
 SELECT COUNT(DISTINCT f.Farm_ID) AS number_of_farms FROM farm f;

[18] Accuracy: 100.0%
> Question: Display a list of the total number of horses on farms in ascending order.
> Ground:
SELECT Total_Horses FROM farm ORDER BY Total_Horses ASC

> Gen:
 SELECT f.total_horses FROM farm f ORDER BY f.total_horses ASC;

[19] Accuracy: 100.0%
> Question: What is the total record of horses for each farm, arranged in ascending order?
> Ground:
SELECT Total_Horses FROM farm ORDER BY Total_Horses ASC

> Gen:
 SELECT f.farm_id, f.total_horses FROM farm f ORDER BY f.total_horses ASC;

[20] Accuracy: 100.0%
> Question: What are the hosts for the competitions that are not about "Aliens"?
> Ground:
SELECT Hosts FROM farm_competition WHERE Theme !=  'Aliens'

> Gen:
 SELECT fc.hosts FROM farm_competition fc WHERE fc.theme not LIKE '%Aliens%';

[21] Accuracy: 100.0%
> Question: Return the quiz hosts that are not about "alien beings"?
> Ground:
SELECT Hosts FROM farm_competition WHERE Theme !=  'Aliens'

> Gen:
 SELECT DISTINCT fc.Hosts FROM farm_competition fc WHERE fc.Theme NOT LIKE '%alien%beings%'

[22] Accuracy: 100.0%
> Question: What are the topics that have been organized in the farm competitions arranged by year in ascending order?
> Ground:
SELECT Theme FROM farm_competition ORDER BY YEAR ASC

> Gen:
 SELECT fc.theme, fc.year FROM farm_competition fc ORDER BY fc.year ASC;

[23] Accuracy: 100.0%
> Question: Return agricultural competition topics, sorted by year in ascending order.
> Ground:
SELECT Theme FROM farm_competition ORDER BY YEAR ASC

> Gen:
 SELECT fc.theme, fc.year FROM farm_competition fc ORDER BY fc.year ASC;

[24] Accuracy: 100.0%
> Question: What is the average number of working horses in farms that have more than 5000 horses in total?
> Ground:
SELECT avg(Working_Horses) FROM farm WHERE Total_Horses  >  5000

> Gen:
 SELECT AVG(f.Working_Horses) FROM farm f WHERE f.Total_Horses > 5000;

[25] Accuracy: 100.0%
> Question: Display the average number of working horses in farms that have more than 5000 horses in total.
> Ground:
SELECT avg(Working_Horses) FROM farm WHERE Total_Horses  >  5000

> Gen:
 SELECT AVG(f.Working_Horses) FROM farm f WHERE f.Total_Horses > 5000;

[26] Accuracy: 100.0%
> Question: What is the maximum and minimum number of cows on all farms?
> Ground:
SELECT max(Cows) ,  min(Cows) FROM farm

> Gen:
 SELECT MAX(f.cows) AS max_cows, MIN(f.cows) AS min_cows FROM farm f;

[27] Accuracy: 100.0%
> Question: Return the maximum and minimum number of cows on all farms.
> Ground:
SELECT max(Cows) ,  min(Cows) FROM farm

> Gen:
 SELECT MAX(f.cows) AS max_cows, MIN(f.cows) AS min_cows FROM farm f;

[28] Accuracy: 0.0%
> Question: How many different cases of cities are there?
> Ground:
SELECT count(DISTINCT Status) FROM city

> Gen:
 SELECT COUNT(DISTINCT c.City_ID) FROM city c;

[29] Accuracy: 0.0%
> Question: Number of different cases.
> Ground:
SELECT count(DISTINCT Status) FROM city

> Gen:
 SELECT COUNT(DISTINCT c.City_ID) FROM city c;

[30] Accuracy: 100.0%
> Question: Display a list of official city names, sorted in descending order by population.
> Ground:
SELECT Official_Name FROM city ORDER BY Population DESC

> Gen:
 SELECT c.Official_Name FROM city c ORDER BY c.Population DESC;

[31] Accuracy: 100.0%
> Question: What are the official names of the cities, arranged in descending order by population?
> Ground:
SELECT Official_Name FROM city ORDER BY Population DESC

> Gen:
 SELECT c.official_name FROM city c ORDER BY c.population DESC;

[32] Accuracy: 100.0%
> Question: Display a list of the official name and status for the city with the highest population.
> Ground:
SELECT Official_Name ,  Status FROM city ORDER BY Population DESC LIMIT 1

> Gen:
 SELECT c.official_name, c.status FROM city c WHERE c.population = (SELECT MAX(population) FROM city);

[33] Accuracy: 100.0%
> Question: What is the official name and status of the city with the largest population?
> Ground:
SELECT Official_Name ,  Status FROM city ORDER BY Population DESC LIMIT 1

> Gen:
 SELECT c.official_name, c.status FROM city c WHERE c.population = (SELECT MAX(population) FROM city);

[34] Accuracy: 100.0%
> Question: Present the years and official names of the host cities for the competitions.
> Ground:
SELECT T2.Year ,  T1.Official_Name FROM city AS T1 JOIN farm_competition AS T2 ON T1.City_ID  =  T2.Host_city_ID

> Gen:
 SELECT fc.year, c.official_name FROM farm_competition fc JOIN city c ON fc.host_city_id = c.city_id;

[35] Accuracy: 100.0%
> Question: Display the years and official names of the cities for each competition.
> Ground:
SELECT T2.Year ,  T1.Official_Name FROM city AS T1 JOIN farm_competition AS T2 ON T1.City_ID  =  T2.Host_city_ID

> Gen:
 SELECT fc.year, c.official_name FROM farm_competition fc JOIN city c ON fc.host_city_id = c.city_id;

[36] Accuracy: 100.0%
> Question: Display the official names of cities that have hosted more than one competition.
> Ground:
SELECT T1.Official_Name FROM city AS T1 JOIN farm_competition AS T2 ON T1.City_ID  =  T2.Host_city_ID GROUP BY T2.Host_city_ID HAVING COUNT(*)  >  1

> Gen:
 SELECT c.official_name FROM city c JOIN (SELECT fc.host_city_id FROM farm_competition fc GROUP BY fc.host_city_id HAVING COUNT(fc.competition_id) > 1) AS mc ON c.city_id = mc.host_city_id;

[37] Accuracy: 100.0%
> Question: What are the official names of the cities that have hosted more than one competition?
> Ground:
SELECT T1.Official_Name FROM city AS T1 JOIN farm_competition AS T2 ON T1.City_ID  =  T2.Host_city_ID GROUP BY T2.Host_city_ID HAVING COUNT(*)  >  1

> Gen:
 SELECT c.official_name FROM city c JOIN (SELECT fc.host_city_id FROM farm_competition fc GROUP BY fc.host_city_id HAVING COUNT(fc.competition_id) > 1) AS mc ON c.city_id = mc.host_city_id;

[38] Accuracy: 0.0%
> Question: Present the state of the city that hosted the largest number of competitions.
> Ground:
SELECT T1.Status FROM city AS T1 JOIN farm_competition AS T2 ON T1.City_ID  =  T2.Host_city_ID GROUP BY T2.Host_city_ID ORDER BY COUNT(*) DESC LIMIT 1

> Gen:
 SELECT c.Official_Name, COUNT(fc.Competition_ID) AS competition_count FROM city c JOIN farm_competition fc ON c.City_ID = fc.Host_city_ID GROUP BY c.Official_Name ORDER BY competition_count DESC LIMIT 1;

[39] Accuracy: 100.0%
> Question: What is the condition of the city that hosted the largest number of competitions?
> Ground:
SELECT T1.Status FROM city AS T1 JOIN farm_competition AS T2 ON T1.City_ID  =  T2.Host_city_ID GROUP BY T2.Host_city_ID ORDER BY COUNT(*) DESC LIMIT 1

> Gen:
 SELECT c.status FROM city c JOIN (SELECT f.host_city_id, COUNT(*) AS competition_count FROM farm_competition f GROUP BY f.host_city_id ORDER BY competition_count DESC LIMIT 1) AS mc ON c.city_id = mc.host_city_id;

[40] Accuracy: 100.0%
> Question: Display the competition topics that have host cities with a population larger than 1000.
> Ground:
SELECT T2.Theme FROM city AS T1 JOIN farm_competition AS T2 ON T1.City_ID  =  T2.Host_city_ID WHERE T1.Population  >  1000

> Gen:
 SELECT fc.Theme FROM farm_competition fc JOIN city c ON fc.Host_city_ID = c.City_ID WHERE c.Population > 1000;

[41] Accuracy: 100.0%
> Question: What are the topics of the competitions that have more than 1000 residents in the host cities?
> Ground:
SELECT T2.Theme FROM city AS T1 JOIN farm_competition AS T2 ON T1.City_ID  =  T2.Host_city_ID WHERE T1.Population  >  1000

> Gen:
 SELECT fc.theme FROM farm_competition fc JOIN city c ON fc.host_city_id = c.city_id WHERE c.population > 1000;

[42] Accuracy: 100.0%
> Question: Present the different cases of cities and the population average of cities of each case.
> Ground:
SELECT Status ,  avg(Population) FROM city GROUP BY Status

> Gen:
 SELECT c.status, AVG(c.population) AS average_population FROM city c GROUP BY c.status ORDER BY average_population DESC NULLS LAST;

[43] Accuracy: 0.0%
> Question: What are the cases and populations for each city?
> Ground:
SELECT Status ,  avg(Population) FROM city GROUP BY Status

> Gen:
 SELECT c.official_name, COUNT(cr.competition_id) AS number_of_competitions, SUM(c.population) AS total_population FROM city c JOIN farm_competition fc ON c.city_id = fc.host_city_id JOIN competition_record cr ON fc.competition_id = cr.competition_id GROUP BY c.official_name, c.city_id;

[44] Accuracy: 0.0%
> Question: Display the different cases, sorted according to the number of cities occupied by each case.
> Ground:
SELECT Status FROM city GROUP BY Status ORDER BY COUNT(*) ASC

> Gen:
 SELECT fc.theme, COUNT(DISTINCT fc.host_city_id) AS city_count FROM farm_competition fc GROUP BY fc.theme ORDER BY city_count DESC NULLS LAST;

[45] Accuracy: 0.0%
> Question: Return the different cases of the cities, arranged in ascending order according to frequency.
> Ground:
SELECT Status FROM city GROUP BY Status ORDER BY COUNT(*) ASC

> Gen:
 SELECT c.official_name FROM city c GROUP BY c.official_name ORDER BY COUNT(c.official_name) ASC;

[Gen Fail]
 SELECT c.Official_Name, f.Year, COUNT(*)::FLOAT / SUM(COUNT(*)) OVER (PARTITION BY c.Official_Name) AS ratio FROM city c JOIN farm f ON c.City_ID = f.Year GROUP BY c.Official_Name, f.Year ORDER BY ratio DESC NULLS LAST;
[46] Accuracy: 0%
> Question: Display a list of the most common type of condition across cities.
> Ground:
SELECT Status FROM city GROUP BY Status ORDER BY COUNT(*) DESC LIMIT 1

> Gen:
 SELECT c.Official_Name, f.Year, COUNT(*)::FLOAT / SUM(COUNT(*)) OVER (PARTITION BY c.Official_Name) AS ratio FROM city c JOIN farm f ON c.City_ID = f.Year GROUP BY c.Official_Name, f.Year ORDER BY ratio DESC NULLS LAST;

[47] Accuracy: 100.0%
> Question: What is the most common condition in all cities?
> Ground:
SELECT Status FROM city GROUP BY Status ORDER BY COUNT(*) DESC LIMIT 1

> Gen:
 SELECT c.Status FROM city c GROUP BY c.Status ORDER BY COUNT(c.Status) DESC LIMIT 1;

[48] Accuracy: 100%
> Question: Present a list of the official names of cities that have not hosted any competitions.
> Ground:
SELECT Official_Name FROM city WHERE City_ID NOT IN (SELECT Host_city_ID FROM farm_competition)

> Gen:
 SELECT c.official_name FROM city c LEFT JOIN farm_competition fc ON c.city_id = fc.host_city_id WHERE fc.host_city_id IS NULL;

[49] Accuracy: 100%
> Question: What are the official names of the cities that have not hosted any agricultural competitions?
> Ground:
SELECT Official_Name FROM city WHERE City_ID NOT IN (SELECT Host_city_ID FROM farm_competition)

> Gen:
 SELECT c.official_name FROM city c LEFT JOIN farm_competition fc ON c.city_id = fc.host_city_id WHERE fc.host_city_id IS NULL;

[50] Accuracy: 0.0%
> Question: Present the common condition between cities with a population of more than 1500 and less than 500.
> Ground:
SELECT Status FROM city WHERE Population  >  1500 INTERSECT SELECT Status FROM city WHERE Population  <  500

> Gen:
 SELECT c.City_ID, c.Official_Name, c.Population FROM city c WHERE c.Population > 1500 AND c.Population < 500;

[51] Accuracy: 0.0%
> Question: What are the conditions that correspond to cities with a population of over 1500 and those with a population of less than 500?
> Ground:
SELECT Status FROM city WHERE Population  >  1500 INTERSECT SELECT Status FROM city WHERE Population  <  500

> Gen:
 SELECT c.city_id, c.official_name, c.population FROM city c WHERE c.population > 1500 OR c.population < 500;

[52] Accuracy: 100.0%
> Question: Search for the official names of cities with a population of more than 1500 or less than 500.
> Ground:
SELECT Official_Name FROM city WHERE Population  >  1500 OR Population  <  500

> Gen:
 SELECT c.official_name FROM city c WHERE (c.population > 1500 OR c.population < 500);

[53] Accuracy: 100.0%
> Question: What are the official names of the cities with a population of more than 1500 or less than 500?
> Ground:
SELECT Official_Name FROM city WHERE Population  >  1500 OR Population  <  500

> Gen:
 SELECT c.official_name FROM city c WHERE (c.population > 1500 OR c.population < 500);

[54] Accuracy: 100.0%
> Question: Show the population census order of cities that are not in the "Village" category.
> Ground:
SELECT Census_Ranking FROM city WHERE Status !=  "Village"

> Gen:
 SELECT c.official_name, c.population, c.census_ranking FROM city c WHERE c.status not LIKE '%Village%' ORDER BY c.population DESC, c.census_ranking NULLS LAST;

[55] Accuracy: 100.0%
> Question: What are the population census arrangements for cities that do not have a "Village" status?
> Ground:
SELECT Census_Ranking FROM city WHERE Status !=  "Village"

> Gen:
 SELECT c.official_name, c.population, c.census_ranking FROM city c WHERE c.status not LIKE '%Village%' ORDER BY c.population DESC NULLS LAST;

[56] Accuracy: 100.0%
> Question: Which course has the highest number of registered students?
> Ground:
SELECT T1.course_name FROM courses AS T1 JOIN student_course_registrations AS T2 ON T1.course_id = T2.course_Id GROUP BY T1.course_id ORDER BY count(*) DESC LIMIT 1

> Gen:
 SELECT c.course_name, COUNT(sc.student_id) AS number_of_students FROM Student_Course_Registrations sc JOIN Courses c ON sc.course_id = c.course_id GROUP BY c.course_name ORDER BY number_of_students DESC NULLS LAST LIMIT 1;

[57] Accuracy: 100.0%